<footer class="footer" role="contentinfo">

    {{#if template_file '!=' 'pages/home'}}
        <div class="site-wide-testimonials">
          {{> components/common/footer-testimonials}}
        </div>
    {{/if}}
    
<!-- TrustBox widget - Carousel -->
<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5b7c88af1aeb1d0001664f31" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5">
<a href="https://www.trustpilot.com/review/naturalarearugs.com" target="_blank">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

    <div class="inner-container">
      <div class="top-footer-row">
        <article class="footer-info-col" data-section-type="newsletterSubscription">
            {{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
            {{/if}}
        </article>

        <article class="footer-info-col
            footer-info-col--social"
            data-section-type="footer-webPages">
                <strong class="footer-info-heading">Connect With Us</strong>
                <p>Follow us on social media for the latest and greatest.</p>
                {{> components/common/social-links}}
        </article>
      </div>

        <section class="footer-info">

        <div class="tabs-contents">

          <div class="tab-wrapper">
             <div class="mobile-accordion active" id="acc-customer-service">
                  <strong class="accordion-heading">Customer Service</strong>
                  <span class="icon open-icon"><svg><use xlink:href="#icon-keyboard-arrow-down"/></svg></span>
             </div>
             <div class="tab-content is-active" id="tab-customer-service">
               <ul class="footer-info-list">
                   <li>
                       <a href="tel:8006617847">800.661.7847</a>
                   </li>
                   <li>
                       <a href="/page/contact-us/">Contact Us</a>
                   </li>
                   <li>
                       <a href="/page/faqs-more/">FAQ</a>
                   </li>
                   <li>
                       <a href="/page/return-policy/">Returns</a>
                   </li>
                   <li>
                       <a href="/page/shipping-delivery-policy/">Shipping</a>
                   </li>
                   <li>
                       <a href="/page/international-shipping/">International Shipping</a>
                   </li>
                   <li>
                       <a href="/account.php?action=order_status">Order Status</a>
                   </li>
                   <li>
                      <a href="/page/privacy-policy/">Privacy Policy</a>
                   </li>
               </ul>
             </div>
           </div>

             <div class="tab-wrapper">
               <div class="mobile-accordion" id="acc-company">
                    <strong class="accordion-heading">Our Company</strong>
                    <span class="icon open-icon"><svg><use xlink:href="#icon-keyboard-arrow-down"/></svg></span>
               </div>
               <div class="tab-content" id="tab-company">
                 <ul class="footer-info-list">
                   <li>
                       <a href="/page/about-us/">About Us</a>
                   </li>
                   <li>
                      <a href="/page/earth-friendly/">Earth Friendly</a>
                   </li>
                   <li>
                      <a href="/page/helping-the-community/">Charity Outreach</a>
                   </li>
                   <li>
                      <a href="/page/online-promotions/">Promotions</a>
                   </li>
                   <li>
                      <a href="https://blog.naturalarearugs.com/">Blog</a>
                   </li>
                   <li>
                      <a href="/page/testimonials/">Testimonials</a>
                   </li>
                   <li>
                       <a href="/sitemap/">Sitemap</a>
                   </li>
                 </ul>
               </div>
             </div>

            <div class="tab-wrapper">
               <div class="mobile-accordion" id="acc-trade">
                    <strong class="accordion-heading">To The Trade</strong>
                    <span class="icon open-icon"><svg><use xlink:href="#icon-keyboard-arrow-down"/></svg></span>
               </div>
               <div class="tab-content" id="tab-trade">
                 <ul class="footer-info-list">
                   <li>
                      <a href="/page/to-the-trade/discount-trade-program/">Discount Trade Program</a>
                   </li>
                   <li>
                      <a href="/page/to-the-trade/become-an-affiliate/">Affiliate Programs</a>
                   </li>
                   <li>
                      <a href="/page/to-the-trade/home-staging/">Home Staging</a>
                   </li>
                   <li>
                      <a href="/page/to-the-trade/hospitality-management/">Hospitality Management</a>
                   </li>
                   <li>
                      <a href="/page/to-the-trade/trade-shows/">Trade Shows</a>
                   </li>
                   <li>
                      <a href="/page/to-the-trade/">View All Trade Programs</a>
                   </li>
                 </ul>
               </div>
             </div>

             <div class="tab-wrapper">
               <div class="mobile-accordion" id="acc-popular">
                    <strong class="accordion-heading">Popular</strong>
                    <span class="icon open-icon"><svg><use xlink:href="#icon-keyboard-arrow-down"/></svg></span>
               </div>
               <div class="tab-content" id="tab-popular">
                 <ul class="footer-info-list">
                   <li>
                      <a href="/c/custom/">Custom Rugs</a>
                   </li>
                   <li>
                      <a href="/c/sisal/">Sisal Rugs</a>
                   </li>
                   <li>
                      <a href="/c/grass/">Grass Rugs</a>
                   </li>
                   <li>
                      <a href="/c/stair-treads/">Stair Treads</a>
                   </li>
                   <li>
                      <a href="/c/jute/">Jute Rugs</a>
                   </li>
                   <li>
                      <a href="/c/contemporary/">Contemporary</a>
                   </li>
                   <li>
                      <a href="/c/sale/">Rugs on Sale</a>
                   </li>
                 </ul>
               </div>
             </div>
          </div>

        </section>
      </div>

      <div class="footer-copyright">
        <div class="inner-container">

          <div class="outsiders">
            <a href="https://bizratesurveys.com/reviews/www.naturalarearugs.com/71447" target="_blank" rel="nofollow"><img src="{{cdn 'img/bizrate.jpg'}}" alt=""></a>
            <a href="https://www.houzz.com/pro/naturalarearugs/natural-area-rugs" target="_blank" rel="nofollow"><img src="{{cdn 'img/houzz.jpg'}}" alt=""></a>
            <a href="https://www.asid.org/find-an-ip/mikedennis" target="_blank" rel="nofollow"><img src="{{cdn 'img/asoid.jpg'}}" alt=""></a>
          </div>
          {{> components/common/payment-icons}}

          <div class="footer-copyright-text">
            <p class="powered-by">Copyright &copy; 2001-<span id="copyright_year"></span>, Natural Area Rugs</p>
            <!--<span id="footer-divider">|</span>
            <p class="powered-by"><a href="https://www.diztinct.com/bigcommerce-design.html" rel="nofollow" target="_blank">BigCommerce Theme Designer</a> - Diztinct.com</p>-->
          </div>

          <script type="text/javascript">
              document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
          </script>
        </div>
      </div>
</footer>
