{{#if name "===" "All Custom Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
        <!--<img src="{{cdn 'img/sm-all-custom-rugs.jpg'}}" alt="" id="mmimg" />-->
    </a>
</div>
{{/if}} {{#if name "===" "Custom Stair Treads"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>If you have a particular shape, size, color and style in mind that you don't see in our ready-to-ship section, we
            can create custom sisal stair treads exactly to your specifications. These custom stair treads are designed and
            hand crafted with pride in the USA by artisan rug makers.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Custom Wool Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect Wool area rug. Any shape such as rectangular, square, round, oval, or octagon from over 30 weaves
            and colors. You may choose from 14 colors of most popular cotton binding.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Custom Wool Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect Wool Sisal area rug. Any shape such as rectangular, square, round, oval, or octagon from over
            30 weaves and colors. You may choose from 14 colors of most popular cotton binding.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Wall-to-Wall Carpet"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>You may choose from over 50 natural fiber weaves.</p>
    </a>
</div>
{{/if}} {{#if name "===" "All Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of natural fiber rugs that can be shipped the same day as you order. Hand crafted by skilled
            artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Carpet Stair Treads"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Stair treads are pre-made and can be shipped immediately after receiving the order. Shop today and get free same
            day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Premade Wool Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of wool sisal rugs that can be shipped the same day as you order. Hand crafted by skilled
            artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Premade Wool Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of wool sisal rugs that can be shipped the same day as you order. Hand crafted by skilled
            artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Carpet Rolls"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Find the perfect Carpet roll. Over 30 weaves to choose from.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Runner Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Runner Rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "All Custom Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect Sisal area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "All Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of sisal rugs that can be shipped the same day as you order. Hand crafted by skilled artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "All Grass Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Seagrass & Mt.Grass Rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get
            free same day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Custom Grass Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect Seagrass area rug. Any shape such as rectangular, square, round, oval, or octagon from over 5 weaves and
        colors. You may choose from 13 colors of most popular cotton binding.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Accent Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Leather Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Shag"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>See our fun & stylish shag rugs available!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Shag Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>See our fun & stylish shag rugs available!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Vintage Oriental Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} 
{{#if name "===" "One-of-a-Kind Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">One-Of-A-Kind Rugs</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} 
{{#if name "===" "Cotton Binding"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">Unique Rugs</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Contemporary Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Grass Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Jute Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Shag"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Shag Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Sisal Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Wool Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Wool Sisal Rugs On Sale"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Carpet Accessories"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Helpful carpet accessories from Natural Area Rugs will keep your rugs looking great! Shop for cleaning kits, carpet
            tape, and more. Free shipping included!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Rug Pads"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Rug Pads help your natural fiber rugs stay put.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Sisal Remnants"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Discover our beautifully crafted Sisal Remnants. Natural Area Rugs' rugs and carpets are made entirely from the highest
            quality and nature's finest materials.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Swatch Samples"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Can't decide what rug to purchase? Fear no more! We provide up to 5 free samples of our custom bindings and weaves.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Custom Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect Sisal area rug. From over 30 weaves and 15 Cotton Binding Colors, make the rug you always wanted.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Custom Rug Pad"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Create the perfect rug pad.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of natural fiber rugs that can be shipped the same day as you order. Hand crafted by skilled artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Grass Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Seagrass and Mt.Grass Rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same
        day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Jute Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Contemporary Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Wool Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of wool sisal rugs that can be shipped the same day as you order. Hand crafted by skilled artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Natural Fiber Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Best Sellers"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>See our list of Best Selling Rugs. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" ""}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p></p>
    </a>
</div>
{{/if}} {{#if name "===" "Ready to Ship/Sisal Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of natural fiber rugs that can be shipped the same day as you order. Hand crafted by skilled
            artisans.</p>
    </a>
</div>
{{/if}} {{#if name "===" "Ready to Ship/Grass Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>Seagrass and Mt.Grass Rugs are pre-made and can be shipped immediately after receiving the order. Shop today and
            get free same day shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Ready to Ship/Jute Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Ready to Ship/Contemporary Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>All rugs are pre-made and can be shipped immediately after receiving the order. Shop today and get free same day
            shipping!</p>
    </a>
</div>
{{/if}} {{#if name "===" "Contemporary/Natural Fiber Rugs"}}
<div class="menu-blurb">
    <a href="{{url}}">
        <strong class="blurb-header">{{name}}</strong>
        <p>We have a wide selection of natural fiber rugs that can be shipped the same day as you order. Hand crafted by skilled
            artisans.
        </p>
    </a>
</div>
{{/if}}
