<strong class="footer-info-heading">$25 Off Your First Order</strong>
<p>{{lang 'newsletter.subscribe_intro'}}</p>

<form class="form"  name="campaignerForm" action="https://secure.campaigner.com/CSB/Public/ProcessHostedForm.aspx" method="post"  enctype="multipart/form-data">
    <fieldset class="form-fieldset">
        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="5523BD75">
        <input type="hidden" name="FormInfo" id="FormInfo" value="bebfe99f-1b9c-4382-a479-9b4a9b4dbd26">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" contactattributeid="1461320" name="1461320" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
        </div>
    </fieldset>
</form>


