<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0020/6187.js" async="async"></script>
    <script src="https://use.typekit.net/ekk8djg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{{stylesheet '/assets/css/theme.css'}}}
    <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>

    {{{head.scripts}}}
    {{{head.rsslinks}}}

    {{inject 'themeSettings' theme_settings}}
    {{inject 'genericError' (lang 'common.generic_error')}}
    {{inject 'maintenanceMode' settings.maintenance}}
    {{inject 'urls' urls}}
    {{{snippet 'htmlhead'}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.nextopia.net/v1.5.1/7286070986265fb5acdb0ca5f58ecbed.js" async></script>
    <link href="//nxtcfm.s3.amazonaws.com/7286070986265fb5acdb0ca5f58ecbed/1.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="//cdn.nextopia.net/productfinderv2/productfinderv2.js" async></script>
    <script src="{{cdn 'assets/js/fontawesome-all.min.js'}}"></script>
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <style type="text/css">
        .main-slider a.NEW{
            background: url(https://cdn7.bigcommerce.com/s-8urkqds0ab/product_images/uploaded_images/campaign-420-tablet.jpg) right top no-repeat;
            background-size:cover;
        }
        @media only screen and (min-width: 768px) {
            .main-slider a.NEW {
                background:url(https://cdn7.bigcommerce.com/s-8urkqds0ab/product_images/uploaded_images/campaign-420-banner.jpg)
            }
        }
    </style>
    <link href="{{cdn '/assets/overrides.css'}}" rel="stylesheet">
</head>
<body class="{{#block "pagename"}} {{/block}}">
<input type="hidden" value="https://www.natural-fiber-rugs.com/catalog.php?" id="catalogApiUrl">
{{{snippet 'header'}}}
<div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

{{#if settings.privacy_cookie}}
{{> components/common/cookie}}
{{/if}}

{{> components/common/header }}
{{> components/common/body }}
{{> components/common/footer }}

<script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
<script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

<script>
    // Exported in app.js
    window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
</script>

{{{footer.scripts}}}
{{{snippet 'footer'}}}
<script type="text/javascript" src="//cdn.callrail.com/companies/839791534/9e243f402e51699a3db0/12/swap.js"></script>
</body>
</html>
