<div class="productView custom">
    {{#each product.reviews.messages}}
    {{#if error}}
    {{> components/common/alert-error error}}
    {{/if}}
    {{#if success}}
    {{> components/common/alert-success success}}
    {{/if}}
    {{/each}}

    <div class="productView-imagesAndDetails">
      <section class="productView-images" data-image-gallery>
          <div id="desk-gallery">
              <figure class="productView-image"
                      data-image-gallery-main
                      data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                  <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                      <img class="productView-image--default"
                           src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                           alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" data-main-image>
                  </a>
              </figure>

              <ul class="productView-thumbnails menuThumbs" {{#gt product.images.length 5}} data-slick='{
                  "infinite": false,
                  "mobileFirst": true,
                  "slidesToShow": 5,
                  "slidesToScroll": 1
              }' {{/gt}}>
                  <li class="productView-thumbnail itemThumb" data-imgurl="{{this.alt}}" style="display: none;">
                      <a
                              class="productView-thumbnail-link"
                              href="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-item
                              data-image-gallery-new-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-zoom-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/1280x1280/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2">
                          <img onerror="this.style.display = 'none'; $(this).closest('li').hide();" src="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/80x80/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                      </a>
                  </li>
                  <li class="productView-thumbnail itemThumb" data-imgurl="{{this.alt}}" style="display: none;">
                      <a
                              class="productView-thumbnail-link"
                              href="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-item
                              data-image-gallery-new-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-zoom-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/1280x1280/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2">
                          <img onerror="this.style.display = 'none'; $(this).closest('li').hide();" src="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/80x80/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                      </a>
                  </li>
                  <li class="productView-thumbnail itemThumb" data-imgurl="{{this.alt}}" style="display: none;">
                      <a
                              class="productView-thumbnail-link"
                              href="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-item
                              data-image-gallery-new-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-zoom-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/1280x1280/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2">
                          <img onerror="this.style.display = 'none'; $(this).closest('li').hide();" src="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/80x80/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                      </a>
                  </li>
                  <li class="productView-thumbnail itemThumb" data-imgurl="{{this.alt}}" style="display: none;">
                      <a
                              class="productView-thumbnail-link"
                              href="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-item
                              data-image-gallery-new-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-zoom-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/1280x1280/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2">
                          <img onerror="this.style.display = 'none'; $(this).closest('li').hide();" src="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/80x80/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                      </a>
                  </li>
                  <li class="productView-thumbnail itemThumb" data-imgurl="{{this.alt}}" style="display: none;">
                      <a
                              class="productView-thumbnail-link"
                              href="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-item
                              data-image-gallery-new-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/500x659/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2"
                              data-image-gallery-zoom-image-url="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/1280x1280/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2">
                          <img onerror="this.style.display = 'none'; $(this).closest('li').hide();"src="https://cdn7.bigcommerce.com/s-8urkqds0ab/images/stencil/80x80/products/1809/9837/BrandDefault__78058.1517438196.gif?c=2" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                      </a>
                  </li>
              </ul>
          </div>

          {{> components/common/share}}
          <span id="AnchorDetailandSpecs"></span>
      </section>

      <section class="productView-details">
          <div class="productView-product">
              <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>

              <div class="productView-rating"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                  {{#if product.num_reviews '>' 0}}
                  {{#if schema}}
                    <meta itemprop="ratingValue" content="{{product.rating}}">
                    <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                    <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                  {{/if}}
                  {{> components/products/ratings rating=product.rating}}
                  {{/if}}
                  {{#if product.num_reviews '>' 0}}
                    <span class="productView-reviewLink">
                      {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                      <a href="{{product.url}}#product-reviewsTP">Read Reviews</a>
                    </span>
                  {{/if}}
              </div>

              {{#if product.sku}}
                <dl class="productView-info" id="skuwrap">
                    <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" id="psku" data-product-sku>{{product.sku}}</dd>
                </dl>
              {{/if}}
              {{product.detail_messages}}
          </div>

          <div id="product-icons">
              <div class="pibox" id="icon-freeship">
                  <img src="{{cdn '/img/truck.png'}}" alt="Free Shipping" />
                  <span>Free Shipping</span>
              </div>
              <div class="pibox" id="icon-hand">
                  <img src="{{cdn '/img/btn_handmade.png'}}" alt="Hand Made" />
                  <span>Hand Made</span>
              </div>
              <div class="pibox" id="icon-earth">
                  <img src="{{cdn '/img/btn_ecofriendly.png'}}" alt="Earth Friendly" />
                  <span>Earth Friendly</span>
              </div>
              <div class="pibox" id="icon-usa">
                  <img src="{{cdn '/img/btn_flag.png'}}" alt="Made in USA" />
                  <span>Made in USA</span>
              </div>
          </div>

          <div id="productLinktoDetails" class="productView-info-value"></div>
          <div style="clear: both;"></div>

          <div class="productView-options">
              <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                    data-cart-item-add>
                  <input type="hidden" name="action" value="add">
                  <input type="hidden" name="product_id" value="{{product.id}}"/>
                  {{#each product.customizations}}
                  {{{dynamicComponent 'components/products/customizations'}}}
                  {{/each}}
                  <div data-product-option-change style="display:none;">
                      {{#each product.options}}
                      {{{dynamicComponent 'components/products/options'}}}
                      {{/each}}
                  </div>

                  <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                      <label class="form-label form-label--alternate">
                          {{lang 'products.current_stock'}}
                          <span data-product-stock>{{product.stock_level}}</span>
                      </label>
                  </div>
                  <style type="text/css">
                      #customdimbox select {
                          width: 50px;
                          height: 40px;
                          text-align: center;
                      }
                      #customnote{
                          font-weight:bold;
                      }
                  </style>
                  <div id="customrugbox" data-price="" data-id="{{product.id}}" data-sku="{{product.sku}}">
                      <strong>CUSTOM SIZE</strong> <span id="cminmax">Maximum width 13'. Maximum length 98'.</span>
                      <div id="customdimbox">
                          <div id="widthbox">
                              <strong>WIDTH</strong>
                              <span class="cmbox">
                                  <select id="feetw">
                                      <option value="" selected>--</option>
                                      <option value="2">2'</option>
                                      <option value="3">3'</option>
                                      <option value="4">4'</option>
                                      <option value="5">5'</option>
                                      <option value="6">6'</option>
                                      <option value="7">7'</option>
                                      <option value="8">8'</option>
                                      <option value="9">9'</option>
                                      <option value="10">10'</option>
                                      <option value="11">11'</option>
                                      <option value="12">12'</option>
                                      <option value="13">13'</option>
                                  </select>
                                  <span>Feet</span>
                              </span>
                              <span class="cmbox">
                                  <select id="inchesw">
                                      <option value="" selected>--</option>
                                      <option value="1">1"</option>
                                      <option value="2">2"</option>
                                      <option value="3">3"</option>
                                      <option value="4">4"</option>
                                      <option value="5">5"</option>
                                      <option value="6">6"</option>
                                      <option value="7">7"</option>
                                      <option value="8">8"</option>
                                      <option value="9">9"</option>
                                      <option value="10">10"</option>
                                      <option value="11">11"</option>
                                      <option value="12">12"</option>
                                  </select>
                                  <span>Inches</span>
                              </span>
                              <!--<span class="cmbox"><input type="text" id="feetw" value="" placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"> <span>Feet</span></span>-->
                              <!--<span class="cmbox"><input type="text" id="inchesw" value="" placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"> <span>Inches</span></span>-->
                          </div>
                          <div id="lengthbox">
                              <strong>LENGTH</strong>
                              <span class="cmbox">
                                  <select id="feetl">
                                      <option value="" selected>--</option>
                                      <option value="2">2'</option>
                                      <option value="3">3'</option>
                                      <option value="4">4'</option>
                                      <option value="5">5'</option>
                                      <option value="6">6'</option>
                                      <option value="7">7'</option>
                                      <option value="8">8'</option>
                                      <option value="9">9'</option>
                                      <option value="10">10'</option>
                                      <option value="11">11'</option>
                                      <option value="12">12'</option>
                                      <option value="13">13'</option>
                                      <option value="14">14'</option>
                                      <option value="15">15'</option>
                                      <option value="16">16'</option>
                                      <option value="17">17'</option>
                                      <option value="18">18'</option>
                                      <option value="19">19'</option>
                                      <option value="20">20'</option>
                                      <option value="21">21'</option>
                                      <option value="22">22'</option>
                                      <option value="23">23'</option>
                                      <option value="24">24'</option>
                                      <option value="25">25'</option>
                                      <option value="26">26'</option>
                                      <option value="27">27'</option>
                                      <option value="28">28'</option>
                                      <option value="29">29'</option>
                                  </select>
                                  <span>Feet</span>
                              </span>
                              <span class="cmbox">
                                  <select id="inchesl">
                                      <option value="" selected>--</option>
                                      <option value="1">1"</option>
                                      <option value="2">2"</option>
                                      <option value="3">3"</option>
                                      <option value="4">4"</option>
                                      <option value="5">5"</option>
                                      <option value="6">6"</option>
                                      <option value="7">7"</option>
                                      <option value="8">8"</option>
                                      <option value="9">9"</option>
                                      <option value="10">10"</option>
                                      <option value="11">11"</option>
                                      <option value="12">12"</option>
                                  </select>
                                  <span>Inches</span>
                              </span>
                              <!--<span class="cmbox"><input type="text" id="feetl" value="" placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"> <span>Feet</span> </span>-->
                              <!--<span class="cmbox"><input type="text" id="inchesl" value="" placeholder="0" onfocus="this.placeholder = ''" onblur="this.placeholder = '0'"> <span>Inches</span></span>-->
                          </div>
                      </div>
                      <div id="customnote">
                          For larger sized rugs up to 98 feet long and 13 feet wide, please contact us directly to place an order
                      </div>
                  </div>
                  <div id="atchold"></div>
                  <div id="atcwrap">
                      <div class="productView-price" style="display: none;">
                          {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                          {{> components/products/price price=product.price schema_org=schema}}
                          {{else}}
                          {{> components/common/login-for-pricing}}
                          {{/or}}
                      </div>
                      {{{region name="product_below_price"}}}
                      <div id="customPrice" data-cprice>Build rug for price</div>

                      {{#if product.availability}}
                      <div id="shiptime">{{product.availability}}</div>
                      {{/if}}

                      {{#if product.can_purchase}}
                      {{> components/products/add-to-cart}}
                      {{/if}}

                      {{#if product.out_of_stock}}
                      {{#if product.out_of_stock_message}}
                      {{> components/common/alert-error product.out_of_stock_message}}
                      {{else}}
                      {{> components/common/alert-error (lang 'products.sold_out')}}
                      {{/if}}
                      {{/if}}
                  </div>
              </form>
          </div>


          {{#if product.call_for_price}}
          <p class="productView-price">
              <span>{{product.call_for_price}}</span>
          </p>
          {{/if}}

    <!-- NEW ADDED CONTENT ODD  -->


           {{#if product.related_products}}
             <section class="boughtTogether">
               <p class="boughtTogetherHeading">
                 <strong>FREQUENTLY BOUGHT TOGETHER</strong>
               </p>
               <div class="boughtTogetherBody">
                 <div class="boughtTogetherLeft">
                   <ul>
                     <li>
                       <a href="{{url}}" class="card-thumb cardthumb-{{id}} morecolors">
                         <img class="card-image lazyload maint" data-sizes="auto" src="{{getImage product.main_image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each product.custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}" title="{{#each custom_fields}}{{#if name '===' 'Image Alt Text'}}{{value}}{{/if}}{{/each}}">
                       </a>
                       <div class="card-body">
                         <div class="card-title">
                           <a href="{{url}}">{{product.title}}</a>
                         </div>
                         <div class="productView-price priceReformatted">
                             {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                 {{> components/products/price price=product.price schema_org=schema}}
                             {{else}}
                                 {{> components/common/login-for-pricing}}
                             {{/or}}
                         </div>
                       </div>
                     </li>
                   </ul>
                 </div>

                 <div class="boughtTogetherCenter">
                   <p>+</p>
                 </div>

                 <div class="boughtTogetherRight">
                   {{> components/products/grid3 products=product.related_products}}
                 </div>
               </div>
             </section>
           {{/if}}


    <!-- END NEW ADDED CONTENT ODD  -->

          {{{snippet 'product_details'}}}
        </section>
      </div>

      <section class="productView-recentsODD">
        {{#if customer.recently_viewed_products}}
              <p class="headingODD"><strong>RECENTLY <br>VIEWED</strong></p>

              <div class="menu-wrapperRecents">
              	<div class="menuRecents">
                  {{#each customer.recently_viewed_products.items}}
                          <a href="{{url}}">
                            <img
                                 class="itemRecent"
                                 src="{{getImage image 'product_size' (cdn ../theme_settings.default_image_product)}}"
                                 alt="{{image.alt}}"
                                 title="{{image.alt}}" style="border:solid 1px #ffffff; padding:5px;"/>
                          </a>
                  {{/each}}
              	</div>

              	<div class="paddles">
              		<button class="up-paddle paddle hidden">
              			<img src="{{cdn '/img/arrowUp.png'}}">
              		</button>
              		<button class="down-paddle paddle hidden">
              			<img src="{{cdn '/img/arrowDown.png'}}">
              		</button>
              	</div>

              </div>

        {{/if}}
      </section>

      <div id="AnchorDetailandSpecs"></div>
      <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
      {{#if theme_settings.show_product_details_tabs}}
      {{> components/products/description-tabs}}
      {{else}}
      {{> components/products/description}}
      {{/if}}
      </article>

      <div id="otherdets">
          {{#each product.custom_fields}}
          <dt class="productView-info-name">{{name}}:</dt>
          <dd class="productView-info-value {{name}}">{{{value}}}</dd>
          {{/each}}
      </div>
      <div id="cornerswatch" class="hideswatch">
          <div id="swatchzoom"><i class="fas fa-search-plus"></i></div>
          <img id="swatchbimg" src="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}" />
      </div>

</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<div id="tooltips" style="display: none;">
    <div id="tooltip-shape" class="tooltip-right">
        <div class="tticons"><img src="{{cdn '/img/tooltip.png'}}" alt="?" /> <span class="details">details</span> <span class="cdet">x</span></div>
        <div class="tooltip-content">
            <img src="{{cdn '/img/custom-shapes.png'}}" alt="Custom Shapes" />
            <p>For custom sizes & complex shape requests, please contact our <a href="/page/contact-us/">Customer Service</a></p>
        </div>
    </div>
    <div id="tooltip-binding" class="tooltip-right">
        <div class="tticons"><img src="{{cdn '/img/tooltip.png'}}" alt="?" /> <span class="details">details</span> <span class="cdet">x</span></div>
        <div class="tooltip-content">
            <img src="{{cdn '/img/mitered-vs-blind.jpg'}}" alt="Binding" />
            <p>
                <b>Wide Cotton</b> - 1 1/4" Top Stitched<br><br>
                <b>Extra Wide Cotton</b> - 2 1/4" Top Stitched<br><br>
                <b>Blind Stitch Cotton</b> - 2" Mitered Corner<br><br>
                <span style="font-style: italic">Blind Stitch means the thread stitches are invisible.</span>
            </p>
        </div>
    </div>
    <div id="tooltip-corner" class="tooltip-right">
        <div class="tticons"><img src="{{cdn '/img/tooltip.png'}}" alt="?" /> <span class="details">details</span> <span class="cdet">x</span></div>
        <div class="tooltip-content">
            <img src="{{cdn '/img/quest-corners.png'}}" alt="Custom Corners" />
            <p>Same price for Standard & Mitered Corners for all custom rugs.</p>
        </div>
    </div>
    <div id="tooltip-color" class="tooltip-right">
        <div class="tticons"><img src="{{cdn '/img/tooltip.png'}}" alt="?" /> <span class="details">details</span> <span class="cdet">x</span></div>
        <div class="tooltip-content">
            <p>100% Cotton/Canvas<br> Highest Quality. Heavy Duty.</p>
        </div>
    </div>
    <div id="tooltip-cbind" class="tooltip-right">
        <div id="cbindgreen">Want to use your own Binding Material?</div>
        <div class="tooltip-content">
            <img src="{{cdn '/img/leather.jpg'}}" alt="Leather Binding" />
            <p>Please contact our <a href="/page/contact-us/">Customer Service</a> if you want to use your own binding material. </p>
        </div>
    </div>
</div>
