<div class="productView quickView">
    {{#each product.reviews.messages}} {{#if error}} {{> components/common/alert-error error}} {{/if}} {{#if success}} {{> components/common/alert-success
    success}} {{/if}} {{/each}}
    
    <section class="productView-images" data-image-gallery>
        <div id="desk-gallery">
            <figure class="productView-image" data-image-gallery-main data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                    <img class="productView-image--default" src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                        alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
                </a>
            </figure>
            <ul class="productView-thumbnails" {{#gt product.images.length 5}} data-slick='{
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 5,
                    "slidesToScroll": 1
                }' {{/gt}}>
                {{#each product.images}}
                <li class="productView-thumbnail" data-imgurl="{{this.alt}}">
                    <a class="productView-thumbnail-link" href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-item data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                        <img src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>

        {{> components/common/share}}
    </section>

    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title" {{#if schema}}itemprop="name" {{/if}}>{{product.title}}</h1>

            <div class="productView-rating" {{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                {{/if}}>
                {{#if product.num_reviews '>' 0}} {{#if schema}}
                <meta itemprop="ratingValue" content="{{product.rating}}">
                <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                <meta itemprop="reviewCount" content="{{product.num_reviews}}"> {{/if}} {{> components/products/ratings rating=product.rating}} {{/if}} {{#if product.num_reviews '>' 0}}
                <span class="productView-reviewLink">
                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                    <a href="{{product.url}}#product-reviews">Read Reviews</a>
                </span>
                {{/if}}
                <span class="productView-reviewLink">
                    {{lang 'products.reviews.new'}}
                    <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}">Write Reviews</a>
                </span>
            </div>

            {{#if product.sku}}
            <dl class="productView-info">
                <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
            </dl>
            {{/if}} {{product.detail_messages}}
        </div>

        <div class="productView-options">
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}" /> {{#each product.customizations}} {{{dynamicComponent 'components/products/customizations'}}} {{/each}}
                <div data-product-option-change style="display:none;">
                    {{#each product.options}} {{{dynamicComponent 'components/products/options'}}} {{/each}}
                </div>

                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>


        </div>

        <div class="productView-price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}} {{> components/products/price price=product.price schema_org=schema}}
            {{else}} {{> components/common/login-for-pricing}} {{/or}}
        </div>
        {{{region name="product_below_price"}}} {{#if product.availability}}
        <div id="shiptime" style="display:none">{{product.availability}}</div>
        {{/if}} {{#if product.can_purchase}} {{> components/products/add-to-cart}} {{/if}} {{#if product.out_of_stock}} {{#if product.out_of_stock_message}}
        {{> components/common/alert-error product.out_of_stock_message}} {{else}} {{> components/common/alert-error (lang
        'products.sold_out')}} {{/if}} {{/if}}

        <a href="{{product.url}}" id="quickview-seedetails">See Full Details</a>
        </form>
</div>


{{#if product.call_for_price}}
<p class="productView-price">
    <span>{{product.call_for_price}}</span>
</p>
{{/if}} {{{snippet 'product_details'}}}


</section>



<div id="otherdets">
    {{#each product.custom_fields}}
    <dt class="productView-info-name">{{name}}:</dt>
    <dd class="productView-info-value {{name}}">{{{value}}}</dd>
    {{/each}}
</div>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
